# Project place file
/Stardust.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

/Packages
/wally.toml
sourcemap.json
/build
node_modules
index.d.ts
/wally.lock
Ploder
testez-companion.toml